#!/bin/bash

source_file()
{
    [[ -f "$1" ]] && . "$1"
}

source_file ~/.aliases_mimic

unalias k 2> /dev/null
unalias watch 2> /dev/null
unalias xclip 2> /dev/null

if [ "$(python -V 2> /dev/stdout | cut -d' ' -f2 | cut -d'.' -f1)" = "3" ]; then
    alias python='python -q'
fi
alias python3='python3 -q'
alias calc='gnome-calculator'
alias ccat='pygmentize -O style=monokai -f console256 -g'
alias diff='colordiff'
alias git_clean='git reset --hard && git clean -f -d :/'
alias k='k -h'
alias tailf='tail -f'
alias benchmark='hyperfine'
alias bench='benchmark'
alias bm='benchmark'

######################################3
## SSH

export SSH_OPTIONS="-t -tt -xXY -o StrictHostKeyChecking=no -o LogLevel=QUIET"
export FAST_CYPHER="-c aes128-gcm@openssh.com"
